
Train/.vs/Train/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
Train/.vs/Train/CopilotIndices/17.12.31.40377/CodeChunks.db-wal
Train/.vs/Train/CopilotIndices/17.12.31.40377/CodeChunks.db-shm
Train/.vs/Train/CopilotIndices/17.12.31.40377/SemanticSymbols.db-shm
